.header-container .logo {
  margin-left: 4vw;
  width: 35%;
  max-width: 300px;
  cursor: pointer;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px;
}

.header-container a {
  cursor: pointer;
}

.header-container {
  a {
    color: #4a4a4a;
  }
  a:link {
    text-decoration: underline;
  }

  a:hover {
    text-decoration: solid;
    color: #2a8cff;
  }

  a:active {
    text-decoration: underline;
  }
}
