body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  background-color: #2a8cff;
}

.container-geral {
  display: flex;
  justify-content: center;
}

.container-geral .container-conteudo {
  margin-top: 40px;
  width: 80vw;
  background-color: white;
  border-radius: 40px;
}

.header-menu-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  font-size: 18px;
  margin-right: 4vw;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.button-padrao {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
